<tr>
  <div class="todo-details">
    <td class="todo-details">
      <div class="todo-body" id="todo-body"><%=link_to todo.body ,todo_path(todo) %></div>
      <div class="todo-date small">
        <%=todo.created_at.strftime("%I.%M %P, %d %B %Y")%>
      </div>
      <div class="todo-id" style="display:none;">
      <%=todo.id%>
      </div>
    </td>
  </div>
  <div class="btn-group todo-options">
          <td class="todo-options">
            <div class="arrow-up">
              <%= link_to "⌃", up_todo_path(todo), action: :active,method: :post,remote: true,:class=>"card-link text-secondary-grey up-link"%>
            </div>
          </td>
          <td class="todo-options">
            <div class="arrow-down">
              <%= link_to "⌄",down_todo_path(todo),action: :active,remote: true, method: :post, :class=>"card-link text-secondary-grey down-link"%>
              </div>
          </td>
        <td class="todo-options">
          <div class="todo-delete">
            <%= link_to "×", todo_path(todo,:value=>todo.active),method: :delete,remote: true, data: { confirm: 'Are you sure?' } ,:class=>"card-link text-secondary-grey"%>
           </div>
        </td>
        <td class="todo-options">
          <div class="todo-activate">
            <% if todo.active==true%>
              <%= link_to "✓", activate_todo_path(todo),action: :active, method: :post,remote: true, class:" btn btn-circle text-lighter btn-sm text-center" %>
            <% else %>
              <%= link_to "✓", activate_todo_path(todo),action: :active,  method: :post,remote: true, class:"btn btn-circle-inactive text-lighter btn-sm text-center" %>
            <% end %>
          </div>
        </td>

      </div>

    </tr>
