<div class="container" >
  <div class="section-image">
  <%= image_tag "check.png" %>
  </div>
  <div class="header-section">
    <div class=" input-search">
      <input class="form-control" id="myInput" type="text" placeholder="Search">
    </div>
    <div class="current-user">
      <%if   @current_user %>
        <div class="user-name">
          <%= @current_user.name %>
        </div>
        <div class="logout-link">
          <%= link_to 'Logout', logout_path ,:class=>" card-link "%>
        </div>
      <%end%>
    </div>
  </div>
  <br>
  <div><%= render 'new' %></div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to 'Active', root_url(:active=>1),remote: true,
    :class=>"active-link btn Active"  %>
    <%= link_to 'Inactive', root_url(:active=>0),remote: true,
    :class=>"active-link btn Inactive "  %>
  </div>
  <div class="listing-todos">
    <table class="cards-table">
      <tbody id="myTable">
        <%= render @todos%>

      </tbody>

    </table>
  </div>
  <br>
  <div id="active-status" style="display:none;"><%=@todos.
    first.nil? ? 'true' : @todos.first.active %></div>
    <div id="task-form" style="display:none;"></div>

  <script>
    $(document).ready(function () {
      $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

      var active=$("#active-status").text();
      console.log(active)
      if (String(active) =='true'){
        $(".Active").addClass("active-link-visited");
        $(".Inactive").removeClass("active-link-visited");
      }
      else{
        $(".Inactive").addClass("active-link-visited");
        $(".Active").removeClass("active-link-visited");
      }

    
    });
  </script>
