<div class="container">
  <div class="section-image">
    <%= image_tag "check.png" %>
  </div>
  <div class="header-section">
    <!-- <div class="search-input"> <div> -->
    <div class=" input-search">
      <!-- <input class="form-control" id="myInput" type="text" placeholder="Search" > -->
      <%= form_tag(todos_path,method: :get,class: "seach-todo",action: "index" ,remote:true ) do%>

      <%= search_field_tag :search, params[:search],:class=>" form-control",:placeholder=>"Search" ,:id=>"myInput",:remote=> true %>

    <%end%>
  </div>
  <div class="current-user">
    <%if   @current_user %>
      <div class="user-name">
        <%= @current_user.name %>
      </div>
      <div class="logout-link">
        <%= link_to 'Logout', logout_path ,:class=>" card-link "%>
      </div>
    <%end%>
  </div>
</div>
<br>
<div class="link-back-home" role=" " aria-label=" ">
  <%= link_to '< Go back to home', root_url(:active=> @todo.active), :class=>"back-to-home" %>
</div>
<div class="todo-body-contents-show">
  <div class="todo-body-with-delete">
    <div class="todo-body-todo">
      <div class="todo-body-main" id="todo-body"><%= @todo.body %></div>
      <div class="todo-date small">
        <%=@todo.created_at.strftime("%I.%M %P, %d %B %Y")%>
      </div>
    </div>
    <div class="todo-id" style="display:none;">
      <%=@todo.id%>
    </div>
    <div class="todo-delete-show">
      <%= link_to "×", todo_path(@todo,:value=>@todo.active),method: :delete,data: { confirm: 'Are you sure?' } ,:class=>"delete-main card-link text-secondary-grey"%>
    </div>
  </div>
  <div class="progress-bar-active-link">
    <div class="progress-bar-title">Task completion</div>


    <div class="progree-bar">
      <label for="range">
        <output for="range" class="output-np"><%=@todo.status%></output>
          <output for="range" class="output"><%=@todo.status%>%</output>
        <input type="range" name="range" class="slider" id="progress" min="0" max="100" step="1" value="<%=@todo.status %> " />

      </label>
    </div>

    <div class="todo-activate-show">
      <% if @todo.active==true%>
        <%= link_to "✓", activate_todo_path(@todo),action: :active, method: :post, class:" btn btn-circle text-lighter btn-sm text-center active-button-show" %>
      <% else %>
        <%= link_to "✓", activate_todo_path(@todo),action: :active, method: :post, class:"btn btn-circle-inactive text-lighter btn-sm text-center active-button-show" %>
      <% end %>
    </div>
  </div>
  <%if @todo.shares.find_by(user_id: @current_user.id).is_owner %>
  <div class='shared-status'>
    <div class="shared-text"><span class="shared-with-text">Shared with : </span>
      <% @todo.shares.each do |share|%>
        <span><%="#{share.user.name} ,"   if share.user!=@current_user%> </span>
      <%end%>
    </div>
    <div class="share-button-body">
    <button type="button" class="btn share-button" data-toggle="modal" data-target="#myModal">
      Share this
    </button>
    </div>
    </div>
  <% end %>

</div>

<div class="list-comments"><%= render @todo.comments %></div><br>
<div class="create-new-todo"><%= render 'comments/form' %></div>
<div class="active-status"><%=@active%></div>
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <div class="share-title">Add People to this task</div>
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= form_tag(share_todo_todo_path,method: :post,class: "seach-todo",action: "share_todo" ,remote: true) do%>
        <%User.all.each do |user| %>
          <% if @todo.shares.find_by(user_id: user.id).nil? && @current_user.id != user.id && user.email_confirmed%>
          <div class="list-users-share">
          <label class="control control-checkbox">
            <%= user.name%>
            <%= check_box_tag 'users[]',user.id, false,:class=>" " %>
            <div class="control_indicator"></div>
        </label>
        </div>
          <%end%>
        <%end%>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">

        <div class=""><%=submit_tag 'Save', :class=> 'submit-button-share'%></div>
      <%end%>
      <button type="button" class="cancel-button" data-dismiss="modal">Cancel</button>
    </div>
    <div id='todoid'><%=@todo.id%></div>
  </div>
</div>
</div>

<script>
var last
$('.output-np').hide();
$(".active-status").hide();
$("#todoid").hide();
$(document).ready(function () {
  var s = $('#progress');
  p=($('.output-np').val());
  s.val(p);
  // s.slider('refresh');
  s.trigger('slide',{ ui: $('.ui-slider-handle', s), value: 10 });
    // $('#progress').slider('value',$(".output").text());
  // $("#myTable tr").filter(function () {   $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1) });
  $('#progress').on("input", function () {
    $(".slider::-webkit-slider-thumb").css('width', '100px')
    $('.output').val(this.value + "%");
    progress = this.value;
    console.log(progress);
    }).trigger("change");
    $('#progress').on("mouseup", function () {
      progress = this.value;
      if (progress != p){
          todoid = String($('#todoid').text());
          str1 = 'http://localhost:3000/todos/';
          url = str1.concat(todoid, '/update_progress');
          $.ajax({
            url: (url),
            data: {
              progress: progress
            },
            dataType: "html",
            async: 'false',
            cache: 'false',
            type: "post",
            success: function (result) {
              // $('#progress').submit();
              location.reload();

            }

    });
  }
  }).trigger("change");
  $(".active-status").hide();
  var active = $(".active-status").text();
  // console.log(active);
  if (active == 1) {
    $(".btn").removeClass("active-link-visited");
    $(".Inactive").addClass("active-link-visited");
  } else {
    $(".btn").removeClass("active-link-visited");
    $(".Active").addClass("active-link-visited");
  }
  $('#myTable tr ').each(function (i) {
    $('.up-link', this).css('visibility', 'visible');
    $('.down-link', this).css('visibility', 'visible');
    if (i == 0) {
      $('.up-link', this).css('visibility', 'hidden');
    }
    last = i;
  });
  $('#myTable tr ').each(function (i) {
    if (i == last) {
      $('.down-link', this).css('visibility', 'hidden');
    }
  });
});
</script>
